body {
  background-color: #f1f1f1;
}

/*
 header & tag
*/

header{
  text-align: center;
}

header > div.title{
  clear: both;
  font-size: 30px;
  margin-top: 30px;
}

.sns{
  margin-bottom: 30px;
}

.fa-twitter{
    color: #00acec;
}

ul.tag-list {
  list-style:none;
  padding: 0px;
}

ul.tag-list > li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

ul.tag-list > li > a {
  display:block;
  color: #fff;
}

ul.tag-list > li > a:hover, ul.tag-list > li > a:focus, ul.tag-list > li > a:active {
  color: #fff;
  text-decoration: none;
}

/*
sns
*/

.fa-twitter{
  width: 30px;
  height: 30px;
}

/*
 general
*/

.container {
  max-width: 1200px;
}

a.nl {
  color: #000;
}

a.nl:hover, a.nl:focus, a.nl:active {
  color: #000;
  text-decoration: none;
}

.top-title{

}

/*
table
*/

table {
  border-collapse: collapse;
  border: 1px solid #CCC;
}
 
th, td {
  padding: 5px 10px;
  border: 1px solid #CCC;
}
 
th {
  background: #EEE;
}

/*
 grid
*/

article.grid {
  height: 180px;
  margin-bottom: 20px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
}

.article.title {
  font-size: 24px;
  word-wrap: break-word;
}

/*
 list
*/
.list.title {
  font-size: 20px;
  margin-bottom: 20px;
}

/*
 paging
*/

.paging{
  font-size: 20px;
}

.paging > .next {
  float: right;
}

/*
 single
*/

.single.body {
  width: 100%;
  background-color: #fff;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
  padding: 10px;
  margin-bottom: 30px;
}

