body {
  background-color: #f1f1f1;
}

/*
 header & tag
*/

header{
  text-align: center;
  margin: 30px 0;
}

header > div.title{
  font-size: 30px;
}

.fa-twitter{
  color: #00acec;
  width: 30px;
  height: 30px;
}

/*
 general
*/

.container {
  max-width: 1200px;
}

a.nl {
  color: #000;
}

a.nl:hover, a.nl:focus, a.nl:active {
  color: #000;
  text-decoration: none;
}

/*
grid
*/

.grid {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr)); 
  gap: 0 20px;
}

article.cell {
  height: 180px;
  margin-bottom: 20px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
}

.article.title {
  font-size: 24px;
  word-wrap: break-word;
}

/*
 list
*/
.list.title {
  font-size: 20px;
  margin-bottom: 20px;
}

/*
 paging
*/

.paging{
  font-size: 20px;
}

.paging > .next {
  float: right;
}

/*
 single
*/

.single.body {
  width: 100%;
  background-color: #fff;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
  padding: 10px;
  margin-bottom: 30px;
}

